.title {
  font-size: 60px;
  margin-bottom: 4px;
}

.sub_title {
  font-size: 46px;
}

.subtitle {
  margin-top: 24px;
}

.title,
.sub_title,
.subtitle {
  white-space: nowrap;
  width: 100%;
}

/* .sub_title {
  text-align: left;
} */

.subtitle {
  white-space: wrap;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding-top: 34px;
}
