.customAreaContainer
{
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 60px;
  margin-bottom: 4px;
}

.sub_title {
  font-size: 46px;
}

.subtitle {
  margin-top: 24px;
}

.title,
.sub_title,
.subtitle {
  white-space: nowrap;
  width: 100%;
}

.subtitle {
  white-space: wrap;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding-top: 34px;
}

@media (max-width: 768px) {
  .title,
  .sub_title,
  .subtitle {
    white-space: normal;
  }

  .title {
    font-size: 42px;
  }

  .sub_title {
    font-size: 21px;
  }

  .subtitle {
    text-align: justify;
  }
}
