.banner {
  display: flex;
  border-radius: 20px;
  /* overflow: hidden; */
  margin-left: 130px;
  margin-right: 130px;
  background-color: var(--primary-color);
}

.left_section {
  position: relative;
  opacity: 1;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
}

.left_section::before {
  content: "";
  position: absolute;
  top: 20%;
  width: 200%; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  background-image: url('/images/rectangles/rect_1.png');
  background-size: cover;
  z-index: 2;
  /* transform: rotate(-25.23deg); */
}

.left_section img {
  max-width: 100%;
}
