  .footerTop {
    display: flex;
    align-items: center;
    border-radius: 16px;
    background-color: var(--primary-color);
    height: 136px;
  }
  
  .footerButton {
    background-color:  var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    flex-basis: 30%;
    text-align: left;
  }

  .footerSubscribe {
    background-color:  var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .wrapperFooterInput {
    flex-basis: 70%;
    background-color: white;
    display: flex;
    width: inherit;
    flex-grow: 1;
    border-radius: 14px;
    border: 12px solid white;
    margin-right: 32px;
  }

  .footerInput {
    padding: 10px;
    margin: 0 10px;
    flex-grow: 1;
  }
  
  .footerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .footerNavList {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .footerSocialLinks a {
    color: var(--primary-color);
    margin-right: 10px;
  }
  
  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  
  .footerLogo img {
    height: 50px; 
  }
  
  .footerLegalLinks a {
    color: white;
    margin-left: 10px;
  }
  
  .socialIcon {
    font-size: 1.5em;
  }

  